@import "tailwindcss";

:root {
  --background: #f5f5f5;
  --foreground: #d61919;
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
