@import "tailwindcss";




@media (prefers-color-scheme: dark) {
  :root {
    --background: #141115;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif; 
}

h1{
  font-family: var(--font-switzer), Arial, Helvetica, sans-serif;
  font-size: large;
}
h2, h3, h4, h5, h6 {
  font-family: sans-serif;
}



