@import "tailwindcss";




@media (prefers-color-scheme: dark) {
  :root {
    --background: #141115;
    --foreground: #f5f5f5;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif; 
}

h1 {
  font-family: sans-serif;
  @apply text-4xl sm:text-5xl md:text-6xl lg:text-7xl xl:text-8xl font-[750] leading-tight mb-4 md:mb-6;
}

h2 {
  font-family: sans-serif;
  @apply text-3xl sm:text-4xl md:text-5xl lg:text-6xl font-[750] leading-tight mb-4 md:mb-6;
}

h3 {
  font-family: sans-serif;
  @apply text-xl sm:text-2xl md:text-3xl font-mono font-bold leading-tight mb-3;
}

h4, h5, h6, p {
  font-family: sans-serif;
}


/* =========================
   Component layer
   ========================= */

@layer components {
  .btn {
    @apply h-10 min-w-2.5 py-2 px-3 rounded-lg font-medium transition-colors duration-200;
  }

  .btn-primary {
    @apply rounded-sm px-2 bg-green-500 text-white hover:bg-green-300 hover:text-green-950 disabled:opacity-50 disabled:cursor-not-allowed;
  }

  .input-primary{
    @apply h-10 border px-4 py-2 rounded-md focus:outline-none focus:outline-none focus:ring-2 focus:ring-white;
  }

  .icon-button{
    @apply inline-flex h-10 w-10 items-center justify-center rounded-full hover:bg-green-950

  }
}






